---
layout: default
---

<div class="home">
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        
        <h2>
          <a class="post-link" href="{{ post.link | post.url | relative_url}}">{{ post.title | escape }}</a>
          <h3>{{post.description}}</h3>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
